* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--theme-blue: #4285f4;
	--theme-white: #ffffff;
	--theme-grey: #777777;
	--text-color: #333333;
	--heading-font: 'Merriweather';
	--text-font: 'Ubuntu';
	--bg-color: #090f21;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}

a {
	text-decoration: none;
	display: inline-block;
}

li {
	list-style: none;
}

.d-flex {
	display: flex;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.relative {
	position: relative;
}

.align-items-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.text-center {
	text-align: center;
}

.justify-center {
	justify-content: center;
}

.py {
	padding: 100px 0;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.65%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.64%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.63%;
}

.col-12 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.py {
	padding: 80px 0;
} 
header nav ul li a:hover{
	color: var(--theme-blue);
}
/* HEADER */
header {
	padding: 30px 0;
}

header nav {
	flex-grow: 1;
}

header img {
	margin-right: 50px;
}

nav ul li {
	margin: 0 15px;
}

nav ul li a {
	font-size: 12px;
	color: var(--text-color);
	font-family: var(--text-font);
}

nav ul:first-child li:first-child a {
	color: var(--theme-blue);
}

nav ul li i {
	margin-right: 5px;
}

nav ul:last-child li:nth-child(3) a {
	padding: 12px 25px;
	background-color: var(--theme-blue);
	color: var(--theme-white);
	border-radius: 20px;
}
nav ul:last-child li:last-child a:hover {
	background-color: var(--theme-white);
	color: var(--theme-blue);
	border: 1px solid var(--theme-blue);
}
header nav ul:last-child li:last-child i{
	display: none;
}